<header class="header" id="header"><!--header-start-->
    <div class="container">
        <figure class="logo animated fadeInDown delay-07s">
            <a href="#"><img src="assets/img/logo.png" alt=""></a> 
        </figure>   
        <h1 class="animated fadeInDown delay-07s">JAMB Buddy</h1>
        <ul class="we-create animated fadeInUp delay-1s">
            <li>I am your JAMB buddy. I am here to help you prepare for JAMB.</li>
        </ul>
            <a class="link animated fadeInUp delay-1s" href="#features">Get Started</a>
    </div>
</header><!--header-end-->

<nav class="main-nav-outer" id="test"><!--main-nav-start-->
	<div class="container">
        <ul class="main-nav">
            <li><a href="#features">Features</a></li>
            <li><a href="#commands">Commands</a></li>
            <li class="small-logo"><a href="#header"><img src="assets/img/small-logo.png" alt=""></a></li>
            <li><a href="#team">Team</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
        <a class="res-nav_click" href="#"><i class="fa-bars"></i></a>
    </div>
</nav><!--main-nav-end-->



<section class="main-section" id="features"><!--main-section-start-->
	<div class="container">
    	<h2>Features</h2>
    	<h6>I offer interesting features with complimentary hugs.</h6>
        <div class="row">
        	<div class="col-lg-4 col-sm-6 wow fadeInLeft delay-05s">
            	<div class="service-list">
                	<div class="service-list-col1">
                    	<i class="fa-database"></i>
                    </div>
                	<div class="service-list-col2">
                        <h3>large question set</h3>
                        <p>Although I come with a limited question set, I am always crawling the internet adding more questions to my database.</p>
                    </div>
                </div>
                <div class="service-list">
                    <div class="service-list-col1">
                        <i class="fa-facebook"></i>
                    </div>
                    <div class="service-list-col2">
                        <h3>no installation needed</h3>
                        <p>You do not need to install any other app to chat with me. I'm on Facebook, just like you.</p>
                    </div>
                </div>
                <div class="service-list">
                	<div class="service-list-col1">
                    	<i class="fa-mobile"></i>
                    </div>
                	<div class="service-list-col2">
                        <h3>mobile friendly</h3>
                        <p>You can chat with me on any device that supports Facebook chat.</p>
                    </div>
                </div>
                <div class="service-list">
                	<div class="service-list-col1">
                    	<i class="fa-clock-o"></i>
                    </div>
                	<div class="service-list-col2">
                        <h3>24/7 availability</h3>
                        <p>Unlike your other friends I am always available for you. Chat me up anytime you want.</p>
                    </div>
                </div>
            </div>
            <figure class="col-lg-8 col-sm-6  text-right wow fadeInUp delay-02s">
            	<img src="assets/img/macbook-pro.png" alt="">
            </figure>
        
        </div>
	</div>
</section><!--main-section-end-->



<section class="main-section alabaster" id="commands"><!--main-section alabaster-start-->
	<div class="container">
    	<div class="row">
			<figure class="col-lg-5 col-sm-4 wow fadeInLeft">
            	<img  src="assets/img/phone.png" alt="">
                <div class="featured-box">
                    <div class="featured-box-col1 wow fadeInRight delay-06s">
                        <i class="fa-question"></i>
                    </div>  
                    <div class="featured-box-col2 wow fadeInRight delay-06s">
                        <h3>Answering a question</h3>
                        <p>To answer a question simply type the correct option. Options are usually alphabets <code>A</code>, <code>B</code>, continuing sometimes down to 
                        <code>E</code>.</p>
                    </div>    
                </div>
                <div class="featured-box">
                    <div class="featured-box-col1 wow fadeInRight delay-08s">
                        <i class="fa-reply"></i>
                    </div>  
                    <div class="featured-box-col2 wow fadeInRight delay-08s">
                        <h3>Asking for the answer to a question</h3>
                        <p>I encourage you to always try to answer questions yourself. However, if you ever need me to help you with an answer, just type <code>answer</code>.</p>
                    </div>    
                </div>
                <div class="featured-box">
                    <div class="featured-box-col1 wow fadeInRight delay-08s">
                        <i class="fa-question"></i>
                    </div>  
                    <div class="featured-box-col2 wow fadeInRight delay-08s">
                        <h3>Asking for the explanation for an answer</h3>
                        <p>If you don't get how an answer was arrived at just type <code>explain</code>. If I can find a suitable explantion I will give it to you.</p>
                    </div>    
                </div>
                <div class="featured-box">
                    <div class="featured-box-col1 wow fadeInRight delay-08s">
                        <i class="fa-times"></i>
                    </div>  
                    <div class="featured-box-col2 wow fadeInRight delay-08s">
                        <h3>Wrong answers</h3>
                        <p>Whenever you feel my answer is wrong type <code>wrong</code>. I plan to keep track of such questions so i can review them later.</p>
                    </div>    
                </div>
            </figure>
        	<div class="col-lg-7 col-sm-8 featured-work">
            	<h2>Commands</h2>
            	<P class="padding-b">There are certain words you can use to let me know what you want me to do. Generally, I give you context-by-context words I expect to get from you.
                These words are shown in links/buttons that follow some responses I give to you. For instance, from the image below, you can see that I expect you to type either
                <code>Next</code> or <code>Answer</code> in the given context (I am, however, smart enough to make sense of any other word you type).<br />
                <img  src="assets/img/screen-shot-1.png" alt=""><br />
                Alternatively, you can simply click the links/buttons I present to you if you don't feel like typing.</P>
            	<div class="featured-box">
                	<div class="featured-box-col1 wow fadeInRight delay-02s">
                    	<i class="fa-magic"></i>
                    </div>	
                	<div class="featured-box-col2 wow fadeInRight delay-02s">
                        <h3>Starting a conversation</h3>
                        <p>To start a conversation, use basic ice breakers like <code>hi</code>, <code>hello</code>, <code>good day</code>. Or you can just command me to
                        <code>start</code> or <code>begin</code>.</p>
                    </div>    
                </div>
                <div class="featured-box">
                	<div class="featured-box-col1 wow fadeInRight delay-04s">
                    	<i class="fa-gift"></i>
                    </div>	
                	<div class="featured-box-col2 wow fadeInRight delay-04s">
                        <h3>Ending a conversation</h3>
                        <p>To end a conversation, simply tell me <code>bye</code>, <code>later</code>. Or just type words like <code>end</code>, <code>stop</code>, 
                        <code>finish</code>.</p>
                    </div>    
                </div>
                <div class="featured-box">
                	<div class="featured-box-col1 wow fadeInRight delay-06s">
                    	<i class="fa-university"></i>
                    </div>	
                	<div class="featured-box-col2 wow fadeInRight delay-06s">
                        <h3>Asking for a subject</h3>
                        <p>At any time (even while we are working on a question) you can simply type the name of a subject, and we'll switch to that subject. You don't
                        even have to type the full name of the subject.</p>
                    </div>    
                </div>
                <div class="featured-box">
                    <div class="featured-box-col1 wow fadeInRight delay-08s">
                        <i class="fa-arrow-right"></i>
                    </div>  
                    <div class="featured-box-col2 wow fadeInRight delay-08s">
                        <h3>Going to the next question</h3>
                        <p>If you want to move to the next question just type <code>next</code>.</p>
                    </div>    
                </div>
                <div class="featured-box">
                    <div class="featured-box-col1 wow fadeInRight delay-08s">
                        <i class="fa-check"></i>
                    </div>  
                    <div class="featured-box-col2 wow fadeInRight delay-08s">
                        <h3>Yes or no</h3>
                        <p>Most of the other responses I expect from you are <code>yes</code> or <code>no</code> answers.</p>
                    </div>    
                </div>
            </div>
        </div>
	</div>
</section><!--main-section alabaster-end-->

<section class="main-section team" id="team"><!--main-section team-start-->
	<div class="container">
        <h2>team</h2>
        <h6>Take a closer look into our amazing team. We won’t bite.</h6>
        <div class="team-leader-block clearfix">
            <div class="team-leader-box">
                <div class="team-leader wow fadeInDown delay-03s"> 
                    <div class="team-leader-shadow"><a href="#"></a></div>
                    <img src="assets/img/frank-1.jpg" alt="">
                    <ul>
                        <li><a href="#" class="fa-twitter"></a></li>
                        <li><a href="#" class="fa-facebook"></a></li>
                        <li><a href="#" class="fa-pinterest"></a></li>
                        <li><a href="#" class="fa-google-plus"></a></li>
                    </ul>
                </div>
                <h3 class="wow fadeInDown delay-03s">Chieze Franklin</h3>
                <p class="wow fadeInDown delay-03s">The creative mind behind this project. Helps with graphis too.</p>
            </div>
            <div class="team-leader-box">
                <div class="team-leader  wow fadeInDown delay-06s"> 
                    <div class="team-leader-shadow"><a href="#"></a></div>
                    <img src="assets/img/frank-2.jpg" alt="">
                    <ul>
                        <li><a href="#" class="fa-twitter"></a></li>
                        <li><a href="#" class="fa-facebook"></a></li>
                        <li><a href="#" class="fa-pinterest"></a></li>
                        <li><a href="#" class="fa-google-plus"></a></li>
                    </ul>
                </div>
                <h3 class="wow fadeInDown delay-06s">Chieze Franklin</h3>
                <p class="wow fadeInDown delay-06s">The developer behind this project, converting all the good ideas into lines of code.</p>
            </div>
            <div class="team-leader-box">
                <div class="team-leader wow fadeInDown delay-09s"> 
                    <div class="team-leader-shadow"><a href="#"></a></div>
                    <img src="assets/img/frank-3.jpg" alt="">
                    <ul>
                        <li><a href="#" class="fa-twitter"></a></li>
                        <li><a href="#" class="fa-facebook"></a></li>
                        <li><a href="#" class="fa-pinterest"></a></li>
                        <li><a href="#" class="fa-google-plus"></a></li>
                    </ul>
                </div>
                <h3 class="wow fadeInDown delay-09s">Chieze Franklin</h3>
                <p class="wow fadeInDown delay-09s">Helps out with gathering questions, with their answers.</p>
            </div>
        </div>
    </div>
</section><!--main-section team-end-->



<section class="business-talking"><!--business-talking-start-->
	<div class="container">
        <h2>Let’s Talk Business.</h2>
    </div>
</section><!--business-talking-end-->
<div class="container">
<section class="main-section contact" id="contact">
	
        <div class="row">
        	<div class="col-lg-6 col-sm-7 wow fadeInLeft">
            	<div class="contact-info-box address clearfix">
                	<h3><i class=" icon-map-marker"></i>Address:</h3>
                	<span>308 Negra Arroyo Lane<br>Albuquerque, New Mexico, 87111.</span>
                </div>
                <div class="contact-info-box phone clearfix">
                	<h3><i class="fa-phone"></i>Phone:</h3>
                	<span>1-800-BOO-YAHH</span>
                </div>
                <div class="contact-info-box email clearfix">
                	<h3><i class="fa-pencil"></i>email:</h3>
                	<span>hello@knightstudios.com</span>
                </div>
            	<div class="contact-info-box hours clearfix">
                	<h3><i class="fa-clock-o"></i>Hours:</h3>
                	<span><strong>Monday - Thursday:</strong> 10am - 6pm<br><strong>Friday:</strong> People work on Fridays now?<br><strong>Saturday - Sunday:</strong> Best not to ask.</span>
                </div>
                <ul class="social-link">
                	<li class="twitter"><a href="#"><i class="fa-twitter"></i></a></li>
                    <li class="facebook"><a href="#"><i class="fa-facebook"></i></a></li>
                    <li class="pinterest"><a href="#"><i class="fa-pinterest"></i></a></li>
                    <li class="gplus"><a href="#"><i class="fa-google-plus"></i></a></li>
                    <li class="dribbble"><a href="#"><i class="fa-dribbble"></i></a></li>
                </ul>
            </div>
        	<div class="col-lg-6 col-sm-5 wow fadeInUp delay-05s">
            	<div class="form">
                	
                    <div id="sendmessage">Your message has been sent. Thank you!</div>
                    <div id="errormessage"></div>
                    <form action="" method="post" role="form" class="contactForm">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control input-text" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control input-text" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control input-text" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control input-text text-area" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                            <div class="validation"></div>
                        </div>
                        
                        <div class="text-center"><button type="submit" class="input-btn">Send Message</button></div>
                    </form>
                </div>	
            </div>
        </div>
</section>
</div>


<script type="text/javascript">
    $(document).ready(function(e) {
        $('#test').scrollToFixed();
        $('.res-nav_click').click(function(){
            $('.main-nav').slideToggle();
            return false    
            
        });
        
    });
</script>

  <script>
    wow = new WOW(
      {
        animateClass: 'animated',
        offset:       100
      }
    );
    wow.init();
  </script>


<script type="text/javascript">
	$(window).load(function(){
		
		$('.main-nav li a').bind('click',function(event){
			var $anchor = $(this);
			
			$('html, body').stop().animate({
				scrollTop: $($anchor.attr('href')).offset().top - 102
			}, 1500,'easeInOutExpo');
			/*
			if you don't want to use the easing effects:
			$('html, body').stop().animate({
				scrollTop: $($anchor.attr('href')).offset().top
			}, 1000);
			*/
			event.preventDefault();
		});
	})
</script>

<script type="text/javascript">

$(window).load(function(){
  
  
  var $container = $('.portfolioContainer'),
      $body = $('body'),
      colW = 375,
      columns = null;

  
  $container.isotope({
    // disable window resizing
    resizable: true,
    masonry: {
      columnWidth: colW
    }
  });
  
  $(window).smartresize(function(){
    // check if columns has changed
    var currentColumns = Math.floor( ( $body.width() -30 ) / colW );
    if ( currentColumns !== columns ) {
      // set new column count
      columns = currentColumns;
      // apply width to container manually, then trigger relayout
      $container.width( columns * colW )
        .isotope('reLayout');
    }
    
  }).smartresize(); // trigger resize to set container width
  $('.portfolioFilter a').click(function(){
        $('.portfolioFilter .current').removeClass('current');
        $(this).addClass('current');
 
        var selector = $(this).attr('data-filter');
        $container.isotope({
			
            filter: selector,
         });
         return false;
    });
  
});

</script>